<html>
<body>
<canvas id="recta_anime" width="300" height="300"></canvas>

<script>
'use strict'
const canvas = document.getElementById('recta_anime');
const rect   = {
  x: 0,
  y: 0,
  maxx: canvas.width,
  maxy: canvas.height,
  width: 100,
  height: 100,
  vx: 0,
  vy: 0,
  ctx: canvas.getContext('2d'),
  frame: 50,
  syncTime: 200,
  redraw: () => {
    // 図形削除
    rect.ctx.clearRect(0, 0, 300, 300);


    //図形描画
    rect.ctx.beginPath();
    rect.ctx.fillRect(rect.x, rect.y, rect.width, rect.height);
  },

  accel: e => {
    switch (e.keyCode) {
      case 37:
        rect.vx = rect.vx - 1;
        break;
      case 39:
        rect.vx = rect.vx + 1;
        break;
      case 38:
        rect.vy = rect.vy - 1;
        break;
      case 40:
        rect.vy = rect.vy + 1;
    }
  },

  update: () => {
    let base = rect.frame / 1000.0;
    rect.x = rect.x + rect.vx * base;
    rect.y = rect.y + rect.vy * base;

    if (rect.x > rect.maxx - rect.width) {
      rect.x = rect.maxx - rect.width;
      rect.vx = 0;
    }

    if (rect.x < 0) {
      rect.x = 0;
      rect.vx = 0;
    }

    if (rect.y > rect.maxy - rect.height) {
      rect.y = rect.maxy - rect.height;
      rect.vy = 0;
    }

    if (rect.y < 0) {
      rect.y = 0;
      rect.vy = 0;
    }

    rect.redraw();
  },

  packData: () => {
    return JSON.stringify({
      x: rect.x,
      y: rect.y,
      vx: rect.vx,
      vy: rect.vy
    });
  }
};

setInterval(rect.update, rect.frame);
document.addEventListener('keydown', rect.accel);

const ws = new WebSocket('ws://192.168.33.10:8888/');
ws.onmessage = event => {
  const str = event.data;
  if (str === 'master') {
    setInterval(() => {
      ws.send(rect.packData());
    }, rect.syncTime);
    return true;
  }

  const data = JSON.parse(str);
  rect.x = data.x;
  rect.y = data.y;
  rect.vx = data.vx;
  rect.vy = data.vy;
  rect.update();
}
</script>
</body>
</html>
